@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font-family: "Sigmar+One",sans-serif;
  background-color:#cc1465;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}
body {

  margin: 0;
  text-align: center;
}

h1 {

  font-size: 1.75rem;
}

.rectangle{

  width: 300px;
}

a {

  text-decoration: none;
  color: #fff;
}

.nav-1{

  text-decoration: none;
  background-color: #660024;
  color: #fff;
  padding: 1rem 2rem;
  text-align: left;

}
.header nav a {

  list-style-type: none;
}

.header li {
list-style-type: none;
text-align: center;
  text-decoration: none;
  color: #fff;
}

.nav-1 ul {
  padding: 0;
}

.header-li:hover{

  background-color: #cc1465;
}

.sweets-img {

  width: 100px;
}

.sweets {

  text-align: center;
  border-radius: 7px;
  border-width: 5px;
  border-style: solid;
  border-color: #860C21;
  background-color: #DDAA33;
}


img {

  width: 200px;
}

.btn {

  text-align: center;
  display: inline-block;
  font-size: 1.125rem;
  text-decoration: none;
  color: #fff;
  background-color: #660024;
  border-style: solid;
  border-color: #660024;
  padding: .4em .75em .3em;
  border-radius: 8px;
  border-width: 3px;
}

.btn:hover {

  background-color: #EA0097;
}

.reviews{

  text-align: center;
  border-radius: 7px;
  border-width: 5px;
  border-style: solid;
  border-color: #860C21;
  background-color: #989C5D;
}

.btn3 {

  padding: .5em;
  padding-top: 1rem;
  text-align: center;
  float: left;
  width: 50%;
  min-height: 71px;
}

.btn4 {

  padding: .5em;
  float: right;
  width: 50%;
  min-height: 50px;
}

.btn2,
.btn1 {

  margin: .5em;
}

@media only screen and (min-width: 25em) {

  html {

    position: absolute;
    font-size: 100%;
    line-height: 1.3
  }

.rectangle{

  width: 380px
}

.sweets-img {

  float: left;
}

p {

  text-align: left;
  position: relative;
}


.hour-img {

  float: left;
}

.hours {

  margin: 1em;
}

.location {

  margin: 5em;
}

q {

  display: block;
}

.btn4 {

  padding: .45em;
  padding-top: .65rem;
  text-align: center;
  float: left;
  width: 50%;
  min-height: 70px;
}

  footer {

    clear: both;
  }

}

@media only screen and (min-width: 38em) {

html {

  position: absolute;
  font-size: 110%;
  line-height: 1.4;
}

.rectangle {
  width: 600px;
}
.nav-1 {

  position: absolute;
  left: 50%;
  width: 15em;
  padding: 0;
}


.sweets {

  display: inline-block;
  vertical-align: top;
  width: 30%;
  min-height: 36em;
  padding: 1em;
  margin: 0;
}


.sweets-img {

  margin: 1rem;
  right: 30%;
}

.hours {

  float: left;
  margin: 5rem;
  margin-left: 12rem;
  text-align: center;
}


.hour-p {

 width: 10rem;
 margin-left: 2em;
}


.btn1 {

  float: right;
  vertical-align: middle;
}

}

@media only screen and (min-width: 60em) {

  html {

    position: absolute;
    font-size: 120%;
    line-height: 1.5;
  }

  .rectangle {

    width: 90%;
  }

  .nav-1 {

    left: 35%;
    top: 1%;
  }

  div {

    margin: 1em;
  }

  .sweets {

    display: inline-block;
    vertical-align: top;
    width: 30%;
    min-height: 31em;
    padding: 1em;
    margin: 0;
  }

  .sweets-img {

    margin-left: 4rem;
    margin-right: 2rem;
  }

  .hours {

    margin-top: 0;
    margin-left: 1em;
  }

  .hour-p {

    margin-left: 4rem;
    padding: 1em;
    padding-bottom: 1em;
  }

  .hour-img {

    padding: 1rem;
    width: 300px;
  }

  .location {

    float: left;
    width: 50%;
    margin: 0;
    margin-top: 1em;
    margin-right: 1em;
  }

  .reviews {

    clear: both;
  }

}

@media only screen and (min-width: 90em) {

html {

  position: absolute;
  font-size: 130%;
  line-height: 1.5;
}

.rectangle {

  width: 90%;
}

.nav-1 {

  width: 25em;
  text-align: center;
  left: 32%;
  top: 3.5%;
}

  .sweets {

    min-height: 21em;
  }

  .hours{

    margin-top: 18px;
    margin: 0;
    width: 40%;
  }
  .hours-text{

    margin: 0;
    display: inline-block;
    width: 55%;
    margin-top: 1em;
  }
  .hour-img{

    margin-top: 9em;
    padding: 0;
    display: inline-block;
    width: 45%;
  }

  .btn1 {

    margin-top: 4em;
  }

  .location {

    margin: 0;
  }
  .location-text {

    display: inline-block;
    width: 50%;
  }
  .location-img {

    display: inline-block;
    width: 30%;
  }

  .btn4 {

    min-height: 73px;
  }

}
